<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AdvancedAndroid"
        tools:targetApi="31">
        <activity
            android:name=".notification.NotificationSettingsActivity"
            android:exported="false" />
        <activity
            android:name=".notification.NotificationDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".notification.NotificationSecondActivity"
            android:exported="false" />
        <activity
            android:name=".notification.NotificationMainActivity"
            android:exported="false" />
        <activity
            android:name=".retrofit.RetrofitMainActivity"
            android:exported="false" />
        <activity
            android:name=".room_migration.RoomMigrationMainActivity"
            android:exported="false" />
        <activity
            android:name=".room_demo.RoomMainActivity"
            android:exported="false" />
        <activity
            android:name=".lifecycle_scope.LifeCycleMainActivity"
            android:exported="false" />
        <activity
            android:name=".coroutine.CoroutineMainActivity"
            android:exported="false" />
        <activity
            android:name=".recycle_view.RecycleViewMainActivity"
            android:exported="false" />
        <activity
            android:name=".nav.demo5.NavDemo5Activity"
            android:exported="false" />
        <activity
            android:name=".nav.demo1.NavDemo1Activity"
            android:exported="false" />
        <activity
            android:name=".two_way_data_binding.TwoWayDBActivity"
            android:exported="false" />
        <activity
            android:name=".view_model.ViewModelD2Activity"
            android:exported="false" />
        <activity
            android:name=".data_binding.DataBinding2Activity"
            android:exported="false" />
        <activity
            android:name=".data_binding.DataBinding3Activity"
            android:exported="false" />
        <activity
            android:name=".view_model.ViewModelD1Activity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>